<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0","padding":{"bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--70)">
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|70"}}},"layout":{"type":"constrained","contentSize":"760px"}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--70)">
		<!-- wp:post-title {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"clamp(2.25rem, 1.45rem + 2.7vw, 3.375rem)","letterSpacing":"-0.015em","lineHeight":"1.08"}}} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-featured-image {"isLink":false,"aspectRatio":"21/9","align":"wide","style":{"border":{"radius":"14px"},"spacing":{"margin":{"top":"var:preset|spacing|60"}}}} /-->

	<!-- wp:post-content {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-compact","area":"footer","tagName":"footer"} /-->
